<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>북 스토어</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/non-responsive.css" rel="stylesheet" />

<!-- data table -->
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />

<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

<link rel="icon" href="/image/applie-touch-icon.png" />
</head>

  <body>
	<div th:fragment="navbar">
		<div class="page-top"
			style="width: 100%; height: 20px; background-color: #f46b42;"></div>
		<!-- Static navbar -->
		<nav class="navbar navbar-default navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/}">북 스토어</a>
				</div>
				<div id="navbar">
					<ul class="nav navbar-nav navbar-left">
						<li class="dropdown"><a th:href="@{/bookshelf}"
							class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded="false">책 <span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/bookshelf}">책 보기</a></li>
								<li><a th:href="@{/hours}">운영 시간 &#38; 위치</a></li>
								<li><a th:href="@{/faq}">FAQ</a></li>

							</ul></li>
						<form class="navbar-form" th:action="@{/searchBook}" method="post">
							<div class="form-group">
								<input type="text" name="keyword" class="form-control"
									placeholder="책 제목" />
							</div>
							<button type="submit" class="btn btn-default">검색</button>
						</form>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/shoppingCart/cart}">쇼핑 카트</a></li>
						<li><a sec:authorize="isAuthenticated()"
							th:href="@{/myProfile}">마이 페이지</a></li>
						<li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
	</div>
  	
<!-- <div th:fragment="footer">
		<br />
		<br />
		<footer>
			<div class="row">
				<div class="col-xs-3 footerleft">
					<div class="logofooter">
						<a th:href="@{/}"><img class="img-responsive"
							src="/image/logo.png" style="width: 200px;" /></a>
					</div>
					<p>
						북 스토어 입니다. <br />최고의 서비스만을 취급합니다.
					</p>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">연락처</h6>
					<ul class="post">
						<p>
							<i class="fa fa-map-pin"></i> 324, 강남대로<br /> 강남구 서울특별시
						</p>
						<p>
							<i class="fa fa-phone"></i> 전화번호 : 02) 0000 - 0000
						</p>
						<p>
							<i class="fa fa-envelope"></i> 이메일 : info@bookstore.com
						</p>
					</ul>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">링크</h6>
					<ul class="footer-ul">
						<li><a href="#"> 개인 정책</a></li>
						<li><a href="#"> 개인정보 &#38; 상태</a></li>
						<li><a href="#"> 자주하는 질문</a></li>
					</ul>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">영업 시간</h6>
					<div class="post">
						<p>월요일 - 토요일: 9am - 11pm</p>
						<p>일요일: 10am - 10pm</p>
					</div>
				</div>
			</div>
		</footer>

		<div class="copyright">
			<div class="col-md-6">
				<p>© 2018 - All Rights Reserved</p>
			</div>
			<div class="col-md-6">
				<ul class="bottom_ul">
					<li><a href="#">북 스토어</a></li>
					<li><a href="#">블로그</a></li>
					<li><a href="#">자주하는 질문</a></li>
					<li><a href="#">문의하기</a></li>
					<li><a href="#">지도</a></li>
				</ul>
			</div>
		</div>
	</div> -->
  	
	<div th:fragment="body-bottom-scripts">
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>

		<script th:src="@{/js/scripts.js}"></script>

		<!-- data table -->
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
	</div>
</body>
</html>