<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<meta charset="utf-8"/>

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<h2 class="section-headline"><span th:text="${#strings.toUpperCase(user.username)}"></span></h2>
				</h2>
			</div>
			<div class="col-xs-4">
				<img src="image/logo.png" class="img-responsive" />
			</div>
		</div>
		<hr
			style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />
		<img class="img-responsive" src="/image/wood.png"
			style="margin-top: -75px;" />

		<div class="row" style="margin-top: 60px;">
			<div class="col-xs-9 col-xs-offset-3">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveEdit}? 'active'"><a
						href="#tab-1" data-toggle="tab"><span style="color: red;">수정하기</span></a></li>
					<li th:classappend="${classActiveOrders}? 'active'"><a
						href="#tab-2" data-toggle="tab"><span style="color: red;">주문하기</span></a></li>
					<li th:classappend="${classActiveBilling}? 'active'"><a
						href="#tab-3" data-toggle="tab"><span style="color: red;">구매 내역</span></a></li>
					<li th:classappend="${classActiveShipping}? 'active'"><a
						href="#tab-4" data-toggle="tab"><span style="color: red;">배송 내역</span></a></li>
				</ul>

				<!-- Tab panels -->
				<div class="tab-content">

					<!-- edit user information -->
					<div class="tab-pane fade" id="tab-1"
						th:classappend="${classActiveEdit}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form th:action="@{/updateUserInfo}" method="post">
										<input type="hidden" name="id" th:value="${user.id}" />
										
										<div class="bg-info" th:if="${updateUserInfo}">유저 정보가 수정되었습니다.</div>
										
										<div class="form-group">
											<div class="row">
												<div class="col-xs-6">
													<label for="firstName">이름</label>
													<input type="text" class="form-control" id="firstName"
													 name="firstName" th:value="${user.firstName}" />
												</div>
												<div class="col-xs-6">
													<label for="lastName">성</label>
													<input type="text" class="form-control" id="lastName"
													 name="lastName" th:value="${user.lastName}" />
												</div>
											</div>
										</div>
										
										<div class="form-group">
											<label for="userName">아이디</label>  <input type="text"
												class="form-control" id="userName" name="username"
												th:value="${user.username}" />
										</div>
										<div class="form-group">
											<label for="currentPassword">현재 비밀번호</label>  <input
												type="password" class="form-control" id="currentPassword"
												name="password" th:value="${currentPassword}" />
										</div>
										<p style="color: #828282">정보 수정을 위하여 현재 비밀번호를 입력하세요.</p>

										<div class="form-group">
											<label for="email">* 이메일</label>  <input
												type="text" class="form-control" id="email" name="email"
												th:value="${user.email}" />
										</div>
										<p style="color: #828282">이메일을 입력하세요.</p>

										<div class="form-group">
											<label for="txtNewPassword">새로운 비밀번호</label>&nbsp;<span
												id="checkPasswordMatch" style="color: red;"></span> <input
												type="password" class="form-control" id="txtNewPassword"
												name="newPassword" />
										</div>

										<div class="form-group">
											<label for="txtConfirmPassword">새로운 비밀번호 확인</label> <input
												type="password" class="form-control" id="txtConfirmPassword" />
										</div>
										<p style="color: #828282">새로운 비밀번호를 입력하세요.</p>

										<button id="updateUserInfoButton" type="submit"
											class="btn btn-primary">저장하기</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				
					<!-- Order user information -->
					<div class="tab-pane fade" id="tab-2"
						th:classappend="${classActiveOrders}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									
								</div>
							</div>
						</div>
					</div>

					<!-- Billing user information -->
					<div class="tab-pane fade" id="tab-3"
						th:classappend="${classActiveBilling}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<ol class="breadcrumb">
										<li class="breadcrumb-item active">
											<a th:href="@{/listOfCreditCards}" th:style="${listOfCreditCards}? 'color:red'">신용카드 목록</a>
										</li>
										<li class="breadcrumb-item active">
											<a th:href="@{/addNewCreditCard}" th:style="${addNewCreditCard}? 'color:red'">신용카드 추가/수정</a>
										</li>
									</ol>
									
									<div th:if="${listOfCreditCards}">
										<form th:action="@{/setDefaultPayment}" method="post">
											<table class="table">
												<thead>
													<tr>
														<th>기본 설정</th>
														<th>신용 카드</th>
														<th>수정 / 삭제</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="userPayment : ${userPaymentList}">
														<td><input type="radio"
															name="defaultUserPaymentId"
															th:value="${userPayment.id}"
															th:checked="${userPayment.defaultPayment}" /><span>기본 설정</span></td>
														<td th:text="${userPayment.cardName}"></td>
														<td>
															<a th:href="@{/updateCreditCard(id=${userPayment.id})}"><i class="fa fa-pencil"></i></a>&nbsp; &nbsp;
															<a th:href="@{/removeCreditCard(id=${userPayment.id})}"><i class="fa fa-times"></i></a>
														</td>
													</tr>
												</tbody>
											</table>
											<button class="btn btn-primary" type="submit">저장하기</button>
										</form>
									</div>
									
									<div th:if="${addNewCreditCard}">
										<form th:action="@{addNewCreditCard}" method="post">
											<div class="bg-info" th:if="${updateUserPaymentInfo}">유저 정보가 수정되었습니다.</div>

											<input hidden="hidden" name="id" th:value="${userPayment.id}" />
											
											<div class="form-group">
												<h5>* 카드 이름: </h5>
												<input type="text" class="form-control" id="cardName" placeHolder="카드 이름" th:name="cardName" required="required" th:value="${userPayment.cardName}" />
											</div>

										<!-- Billing Address -->
										<hr />
										<div class="form-group">
											<h4>주소</h4>
										</div>
										<div class="form-group">
											<label for="billingName">* 이름</label>
											<input type="text" class="form-control" id="billingName" placeHolder="이름" th:name="userBillingName" required="required" th:value="${userBilling.userBillingName}" />										
										</div>
										<div class="form-group">
											<label for="billingAddress">* 주소</label>
											<input type="text" class="form-control" id="billingAddress" placeHolder="주소 1" th:name="userBillingStreet1" required="required" th:value="${userBilling.userBillingStreet1}" />										
											<input type="text" class="form-control" id="billingAddress" placeHolder="주소 2" th:name="userBillingStreet2" required="required" th:value="${userBilling.userBillingStreet2}" />										
										</div>
										
										<div class="row">
											<div class="col-xs-4">
												<div class="form-group">
													<label for="billingState">* 도</label>
													<select id="billingState" class="form-control" th:name="userBillingState" th:value="${userBilling.userBillingState}" required="required">
														<option value="" disabled="disabled"> 도시를 선택해주세요.</option>
														<option th:each="state : ${stateList}" th:text="${state}" th:selected="(${userBilling.userBillingState} == ${state})"></option>
													</select>
												</div>
											</div>
											<div class="col-xs-4">
												<div class="form-group">
													<label for="billingCity">* 구/동/면/리</label>
													<input type="text" class="form-control" id="billingCity" placeHolder="구/동/면/리" th:name="userBillingCity" required="required" th:value="${userBilling.userBillingCity}" />										
												</div>
											</div>
												<div class="col-xs-4">
												<div class="form-group">
													<label for="billingZipcode">* 우편번호</label>
													<input type="text" class="form-control" id="billingZipcode" placeHolder="우편 번호" th:name="userBillingZipcode" required="required" th:value="${userBilling.userBillingZipcode}" />										
												</div>
											</div>
										</div>
										
										<!-- Credit Card Information -->
										<hr />	
											<div class="form-group">
												<h4>신용 카드 정보</h4>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<img src="/image/creditcard.png" class="img-responsive" /><br />
													<div class="form-group">
														<label for="cardType">* 카드 타입: </label>
														<select class="form-control" id="cardType" th:name="type" th:value="${userPayment.type}">
															<option value="visa">Visa</option>
															<option value="mastercard">Mastercard</option>
															<option value="Discover">Discover</option>
															<option value="amex">American Express</option>
														</select>
													</div>
													<div class="form-group">
														<label for="cardHolder">* 카드 소지자 이름: </label>
														<input type="text" class="form-control" id="cardHolder" required="required" placeHolder="카드 소지자 이름" th:name="holderName" th:value="${userPayment.holderName}" />
													</div>
													<div class="form-group">
														<label for="cardNumber">* 카드 번호: </label>
														<div class="input-group">
															<input type="tel" class="form-control" id="cardNumber" required="required" placeHolder="카드 번호" th:name="cardNumber" th:value="${userPayment.cardNumber}" />
														</div>
														<span class="input-group-addon"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
													</div>
												</div>
											</div>
											
											<div class="row">
												<div class="col-xs-7">
													<div class="form-group">
														<label>* 만료 기간</label>
														<div class="row">
															<div class="col-xs-6">
																<select class="form-control" name="expiryMonth"
																	required="required"
																	th:value="${userPayment.expiryMonth}">
																	<option disabled="disabled">-- 월 --</option>
																	<option value="01">1월 (01)</option>
																	<option value="02">2월 (02)</option>
																	<option value="03">3월 (03)</option>
																	<option value="04">4월 (04)</option>
																	<option value="05">5월 (05)</option>
																	<option value="06">6월 (06)</option>
																	<option value="07">7월 (07)</option>
																	<option value="08">8월 (08)</option>
																	<option value="09">9월 (09)</option>
																	<option value="10">10월 (10)</option>
																	<option value="11">11월 (11)</option>
																	<option value="12">12월 (12)</option>
																</select>
															</div>
															<div class="col-xs-6">
																<select class="form-control" name="expiryYear"
																	th:value="${userPayment.expiryYear}">
																	<option disabled="disabled">-- 년도 --</option>
																	<option value="2018">2018</option>
																	<option value="2019">2019</option>
																	<option value="2020">2020</option>
																	<option value="2021">2021</option>
																	<option value="2022">2022</option>
																	<option value="2023">2023</option>
																	<option value="2024">2024</option>
																	<option value="2025">2025</option>
																	<option value="2026">2026</option>
																	<option value="2027">2027</option>
																	<option value="2028">2028</option>
																	<option value="2029">2029</option>
																	<option value="2030">2030</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xs-5">
													<div class="form-group">
														<label for="cardCVC">CVC</label>
														<input id="cardCVC" type="tel" class="form-control" name="cvc" placeHolder="CVC" th:name="cvc" th:value="${userPayment.cvc}" />
													</div>
												</div>
											</div>
											<hr />
											<button type="submit" class="btn btn-primary btn-lg">저장하기</button>
																		</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Shipping Information -->
					<div class="tab-pane fade" id="tab-4"
						th:classappend="${classActiveShipping}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">

									<ol class="breadcrumb">
										<li class="breadcrumb-item active"><a
											th:href="@{/listOfShippingAddresses}"
											th:style="${listOfShippingAddresses}? 'color:red'">배송지 주소 목록</a></li>
										<li class="breadcrumb-item active"><a
											th:href="@{/addNewShippingAddress}"
											th:style="${addNewShippingAddress}? 'color:red'">배송지 추가/수정</a></li>
									</ol>

									<div th:if="${listOfShippingAddresses}">
										<form th:action="@{/setDefaultShippingAddress}" method="post">
											<table class="table">
												<thead>
													<tr>
														<th>기본 설정</th>
														<th>배송지 주소</th>
														<th>삭제 / 수정</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="userShipping : ${userShippingList}">
														<td><input type="radio"
															name="defaultShippingAddressId"
															th:value="${userShipping.id}"
															th:checked="${userShipping.userShippingDefault}" /><span>기본 설정</span></td>
														<td
															th:text="${userShipping.userShippingStreet1}+', '+
														${userShipping.userShippingCity}+', '+${userShipping.userShippingState}"></td>
														<td><a
															th:href="@{/updateUserShipping(id=${userShipping.id})}"><i
																class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a
															th:href="@{/removeUserShipping(id=${userShipping.id})}"><i
																class="fa fa-times"></i></a></td>
													</tr>
												</tbody>
											</table>
											<button class="btn btn-primary" type="submit">저장하기</button>
										</form>
									</div>

									<div th:if="${addNewShippingAddress}">
										<form th:action="@{/addNewShippingAddress}" method="post">
											<div class="bg-info" th:if="${updateUserShippingInfo}">유저 정보가 수정되었습니다.</div>

											<input hidden="hidden" name="id"
												th:value="${userShipping.id}" />

											<!-- Shipping Address -->
											<hr />
											<div class="form-group">
												<h4>배송 주소</h4>
											</div>
											<div class="form-group">
												<label for="shippingName">* 이름</label> <input type="text"
													class="form-control" id="shippingName"
													placeholder="이름" th:name="userShippingName"
													required="required"
													th:value="${userShipping.userShippingName}" />
											</div>
											<div class="form-group">
												<label for="shippingAddress">* 주소</label> <input
													type="text" class="form-control" id="shippingAddress"
													placeholder="주소 1"
													th:name="userShippingStreet1" required="required"
													th:value="${userShipping.userShippingStreet1}" /> <input
													type="text" class="form-control"
													placeholder="주소 2" th:name="userShppingStreet2"
													th:value="${userShipping.userShippingStreet2}" />
											</div>

											<div class="row">
												<div class="col-xs-4">
													<div class="form-group">
														<label for="shippingState">* 도</label> <select
															id="shippingState" class="form-control"
															th:name="userShippingState"
															th:value="${userShipping.userShippingState}"
															required="required">
															<option value="" disabled="disabled"> 도시를 선택해주세요.</option>
															<option th:each="state : ${stateList}" th:text="${state}"
																th:selected="(${userShipping.userShippingState}==${state})"></option>
														</select>
													</div>
												</div>
												<div class="col-xs-4">
													<div class="form-group">
														<label for="shippingCity">* 구/동/면/리</label> <input
															type="text" class="form-control" id="shippingCity"
															placeholder="구/동/면/리" th:name="userShippingCity"
															required="required"
															th:value="${userShipping.userShippingCity}" />
													</div>
												</div>
												<div class="col-xs-4">
													<div class="form-group">
														<label for="shippingZipcode">* 우편 번호</label> <input
															type="text" class="form-control" id="shippingZipcode"
															placeholder="우편 번호"
															th:name="userShippingZipcode" required="required"
															th:value="${userShipping.userShippingZipcode}" />
													</div>
												</div>
											</div>

											<hr />
											<button type="submit" class="btn btn-primary btn-lg">저장하기</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- end of container -->
	<div th:replace="common/header :: footer"/>

	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
